.gcl {
  height: 100%;
}
.gcl-panel {
  line-height: 1.75rem;
  white-space: pre;
  outline: none !important;
  box-shadow: none;
}
.gcl-panel #gcl-connection-status {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0;
}
.gcl-panel #gcl-connection-status #gcl-connection-status-version {
  font-size: 75%;
  font-weight: bold;
  font-variant: small-caps;
  color: var(--vscode-editorIndentGuide-activeBackground);
}
.gcl-panel .codicon {
  vertical-align: middle;
}
.gcl-panel ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.gcl-panel li.element-section {
  background: var(--vscode-sideBar-background);
  border-left: 0.2rem solid var(--vscode-sideBar-background);
  padding: 0 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.gcl-panel li.element-section header {
  margin: 1rem 0;
  padding: 0;
  height: 2rem;
  line-height: 2rem;
  color: var(--vscode-editorIndentGuide-activeBackground);
  font-variant: small-caps;
  font-weight: bolder;
}
.gcl-panel li.element-section header .element-block-header-text {
  color: var(--vscode-foreground);
  user-select: none;
}
.gcl-panel li.element-section header .element-block-header-text:hover {
  cursor: help;
  color: var(--vscode-activityBar-foreground);
}
.gcl-panel li.element-section header .element-block-header-text.toggled {
  color: var(--vscode-foreground);
}
.gcl-panel li.element-section header .element-block-header-text.toggled:hover {
  color: var(--vscode-activityBar-foreground);
}
.gcl-panel li.element-section header .element-block-header-range {
  margin-left: 1ch;
  font-variant: normal;
  font-weight: normal;
}
.gcl-panel li.element-section header .element-block-header-range:hover {
  cursor: pointer;
  color: var(--vscode-foreground);
}
.gcl-panel li.element-section header .element-block-header-solve-button {
  margin-left: 0.5em;
  font-size: 100%;
  font-weight: bold;
  font-variant: small-caps;
  color: var(--vscode-editorIndentGuide-activeBackground);
}
.gcl-panel li.element-section header .element-block-header-solve-button .element-block-header-solve-button-label {
  padding-left: 0.5em;
  display: none;
}
.gcl-panel li.element-section header .element-block-header-solve-button:hover {
  color: var(--vscode-foreground);
}
.gcl-panel li.element-section header .element-block-header-solve-button:hover .element-block-header-solve-button-label {
  display: inline;
}
.gcl-panel li.element-section header .element-block-anchor-range {
  float: right;
  color: var(--vscode-editorIndentGuide-activeBackground);
}
.gcl-panel li.element-section header .element-block-anchor-range:hover {
  cursor: pointer;
  color: var(--vscode-merge-incomingHeaderBackground);
}
.gcl-panel li.element-section header .element-block-anchor-range.linked {
  color: var(--vscode-merge-incomingHeaderBackground);
}
.gcl-panel li.element-section p {
  margin: 1rem 0;
  padding: 0;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  white-space: pre-wrap;
  overflow-y: scroll;
}
.gcl-panel li.element-section pre {
  background-color: var(--vscode-editor-background);
  margin: 1rem 0;
  padding: 1rem;
  font-family: Menlo, Monaco, 'Courier New', monospace;
  white-space: pre-wrap;
}
.gcl-panel li.element-section pre .element-block-code-buttons {
  display: none;
}
.gcl-panel li.element-section pre .element-block-code-buttons button {
  margin-left: 1ex;
  color: var(--vscode-editorIndentGuide-activeBackground);
}
.gcl-panel li.element-section pre .element-block-code-buttons button:hover {
  color: var(--vscode-foreground);
}
.gcl-panel li.element-section pre:hover .element-block-code-buttons {
  position: absolute;
  right: calc(1rem * 3);
  display: inherit;
}
.gcl-panel li.element-section .element-block-code-trace {
  background-color: var(--vscode-editor-background);
  margin: 1rem 0;
  padding: 1rem;
}
.gcl-panel .element-deco-red {
  border-left-color: var(--vscode-editorError-foreground) !important;
}
.gcl-panel .element-deco-red header {
  color: var(--vscode-editorError-foreground) !important;
}
.gcl-panel .element-deco-yellow {
  border-left-color: var(--vscode-editorWarning-foreground) !important;
}
.gcl-panel .element-deco-yellow header {
  color: var(--vscode-editorWarning-foreground) !important;
}
.gcl-panel .element-deco-green {
  border-left-color: var(--vscode-ports-iconRunningProcessForeground) !important;
}
.gcl-panel .element-deco-green header {
  color: var(--vscode-ports-iconRunningProcessForeground) !important;
}
.gcl-panel .element-deco-blue {
  border-left-color: var(--vscode-editorInfo-foreground) !important;
}
.gcl-panel .element-deco-blue header {
  color: var(--vscode-editorInfo-foreground) !important;
}
.gcl-panel button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: inherit;
  cursor: pointer;
  color: inherit;
}
.gcl-panel .element-link .codicon-link::after {
  content: " ";
  white-space: pre;
}
.gcl-panel .element-inline-code {
  padding: 0 0.5ch;
  margin: 0 0.5ch;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-activityBar-foreground);
  font-family: Menlo, Monaco, 'Courier New', monospace;
  white-space: pre-wrap;
}
.gcl-panel .element-inline-code:hover {
  color: var(--vscode-editorInfo-foreground);
}
.gcl-panel .element-horz {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 1ch;
}
.gcl-panel .element-horz-item:first-of-type {
  margin-left: -1ch;
}
.gcl-panel .element-horz-item {
  margin-left: 1ch;
}
.gcl-panel .element-horz-item.compact {
  margin-left: 0;
}
.gcl-panel .element-vert {
  display: flex;
  flex-direction: column;
}
.gcl-panel .element-sbst {
  cursor: pointer;
}
.gcl-panel .element-sbst.element-sbst-hovered {
  color: var(--vscode-editorWarning-foreground);
}
.gcl-panel .element-parentheses {
  color: var(--vscode-input-placeholderForeground);
}
.gcl-panel .element-parentheses.activated {
  cursor: ew-resize;
  color: var(--vscode-editorWarning-foreground);
  font-weight: bolder;
}
.hidden {
  display: none;
}
